@font-face {
    font-family: 'Caveat';
    src: url(fonts/Caveat/static/Caveat-Medium.ttf);
}
@font-face {
    font-family: 'Neucha';
    src: url(fonts/Neucha/Neucha-Regular.ttf);
}
@font-face {
    font-family: 'BalsamiqSans';
    src: url(fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}
@font-face {
    font-family: 'Kurale';
    src: url(fonts/Kurale/Kurale-Regular.ttf);
}
body {
    margin: 0 auto;
    background-color: #eeede3;
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
}
header {
    margin: 15px 0 25px;
    padding: 15px 1%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
h1 {
    font-family: 'BalsamiqSans';
    max-height: 300px;
    margin: 0;
}
h2 {
    text-align: center;
    font-family: 'Kurale';
    font-size: 25pt;
    background-color: #dedede;
    margin: 20px 0 20px 0;
}
.head2 {
    display: flex;
    max-width: 500px;
}
.author1,
.author2 {
    display: block;
    margin-right: 15px;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 40%);
    border-radius: 5%;
    transition-duration: 0.5s;
}
.author1:hover,
.author2:hover {
    transform: scale(1.03);
    transition-duration: 0.3s;
    box-shadow: 7px 6px 12px 1px rgb(0 0 0 / 40%);
}
.modal-back-author,
.modal-back-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #191919e8;
    z-index: 1000;
}
.modal-pic-author,
.modal-pic-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 23%);
    max-width: calc(100vw - 2%);
    min-height: calc(100vh - 23%);
}
.modal-pic-author img,
.modal-pic-pic img {
    max-height: 100%;
    max-width: 100%;
}
.button-close {
    position: fixed;
    right: 15px;
    top: 10px;
    color: black;
    opacity: 0.7;
    font-size: 14pt;
    border-radius: 25%;
}
.button-close:hover {
    opacity: 1;
    cursor: pointer;
}
.button-close:active {
     border-width: 0px;
     right: 17px;
     top: 12px;
}
.button-control {
    position: absolute;
    top: 44%;
    width: 40px;
    height: 40px;
    border-radius: 48%;
    border: 0px solid white;
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 0;
    transition-duration: 0.3s;
    opacity: 0.5;
}
.button-control:hover {
    opacity: 1;
    cursor: pointer;
}
.button-control:active {
    background-color: #ffffff42;
}
.left {
    left: 15px;
    background: url(pic/button-left.png) no-repeat #00000000;
    background-position: center;
}
.right {
    right: 15px;
    background: url(pic/button-right.png) no-repeat #00000000;
    background-position: center;
}
.left span {
    display: block;
    margin: 0px 4px 0 0;
}
.right span {
    display: block;
    margin: 0px 0 0px 4px;
}
.invisible {
    display: none;
}
.fullname {
    font-family: 'BalsamiqSans';
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 340px;
}
.art {
    margin: auto;
    height: 300px;
    width: 300px;
}
.picture {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    max-height: 235px;
    border: 2px solid #6b3211;
    box-shadow: 2px 3px 7px 3px rgb(0 0 0 / 80%);
}
.picture:hover {
    filter: brightness(1.2);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 85%);
}

.title-pic {
    text-align: center;
    padding: 0 5%;
    font-family: 'Kurale';
}
.title-pic-modal {
    font-family: 'Kurale';
    text-align: center;
    color: #f6e7cb;
    text-shadow: 1px 1px 3px black;
    font-size: 1.3em;
    margin: 12px 0 0 0;
    padding: 0 0;
}
.title-pic span {
    background: linear-gradient(to bottom right, #fed60470, #f7ff3c4a);
    display: block;
    padding: 0px 10px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
}
.block-2-pic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px auto;
}
.hid-scroll {
    overflow: hidden;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
@media (max-width: 1216px) {
    .block-2-pic {
        width: 850px;
    }
}
@media (max-width: 860px) {
    .art {
        height: auto;
        margin-bottom: 15px;
    }
    .block-2-pic {
        width: 600px;
        margin: 0 auto;
    }
}
